<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/form_input.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <div class="card">
        <h3>Resultado</h3>
        <div class="drop_box">
          <header>
            <h4>Archivo Enviado</h4>
          </header>
          <p>El Archivo se Procesó Exitosamente</p>
          <a href="/"
            ><button
              class="btn"
              type="file"
              accept=".csv"
              id="fileID"
              name="file"
            >
              Volver
            </button></a
          >
          <br />
        </div>
      </div>
    </div>
  </body>
</html>
